.header {
  grid-area: h;
  /* background-color: rgb(212, 244, 212); */
  background-image: linear-gradient(
    to left,
    rgb(155, 220, 33),
    rgb(232, 164, 164)
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(247, 13, 25);
}

.header img {
  padding: 10px;
  width: 160px;
}
p {
  margin-left: 120px;
  margin-right: auto;
}
