.nav {
  grid-area: n;
  /* background-color: rgb(181, 243, 181); */
  background-image: linear-gradient(
    to left,
    rgb(202, 225, 53),
    rgb(239, 72, 72)
  );
  padding: 30px;
}

.item {
  color: rgb(102, 130, 1);
  text-decoration: none;
}
.item .active {
  color: rgb(247, 49, 5);
  text-decoration: none;
}
