.footer {
	grid-area: f;
	background-color: forestgreen;
	height: 40px;
	padding: 10px;
	display: flex;
	justify-content: space-evenly;
}
.footer button {
	width: 100px;
	height: 30px;
	background-color: aquamarine;
	color: cornflowerblue;
}
