.dialogs {
  grid-area: c;
  height: 100%;
  background: rgb(252, 252, 186);
  padding: 30px;
  display: grid;
  grid-template-columns: 3fr 10fr;
}
a {
  color: brown;
  text-decoration: none;
}
.DialogsItems {
  padding: 10px;
}
.DialogsItems .active {
  color: rgb(255, 0, 0);
}
.dialog {
}
.masseges {
  padding: 10px;
  color: brown;
}
